// SCREEN-SIZES
$screen-xs: 340px;
$screen-minimal: 480px;
$screen-simple: 768px;
$screen-normal: 1024px;
$screen-large: 1280px;
$screen-xl: 1440px;
$screen-huge: 1680px;
$screen-jumbo: 1920px;

// SITE
$p-spacing: 16px;
$p-gutter: 17px;
$w-site: $screen-xl + (2 * $p-gutter);
$w-header: $w-site;

// HEADER
$h-header: 84px;
$h-header-large: 140px;

// IMAGE
$w-image-large: 700px;
